@model int 
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Siparişiniz başarıyla verildi!</h1>
        Sipariş Numaranız : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Siparişiniz başarıyla oluşturuldu! <br />
        
    </div>
</div> 

